.security_account{
    width: 40rem;
    margin-left: 16rem;
}
.security_account a{
   text-decoration: none;
}
.flag_all{
    padding: 0.3rem;
    margin-left: auto;
}

.flag_all img{
    width: 18rem;
    height: 12rem;
    margin-left: auto;
}